# Number of parallel processes (threads) to run simultaneously for computations
# (more = faster, but more memory;  for clustering the usage can sometimes be 3GB per core)
cores: 4

# Sample de-multiplexing
# (search and remove primers + sample indexes, filter by quality)
demultiplex:
  # maximum error rate for the primer search
  primer_max_err: 0.2
  # maximum number of differences (substitutions, InDels) when
  # searching for the barcodes (don't set too high!)
  idx_max_diffs: 0
  # minimum read length: make sure it is shorter than your barcode(s)
  min_barcode_length: 50
  # Maximum estimated sequencing errors allowed (based on quality scores)
  # This may be adjusted based on how Figures 4 and 5 look like.
  error_threshold: 2.5

# Infer barcode sequences 
# For more settings see also get_barcodes() function in R/cluster.R
cluster:
  # use a maximum of N reads from each sample for denoising
  # lower = faster, but less precise
  max_sample_depth: 5000

  # the minimum number of supporting reads needed for sequences to show up
  # in the analysis (lower -> rare variants show up in the analysis, but more noise)
  min_seq_abund: 3

  # frequency threshold for consensus: be cautiuous with values < 60% (may be lowest safe value)
  # higer values -> more conservative, more ambiguities will appear, and homopolymer
  # stretches can have ambiguous bases, since Nanopore reads are often noisy there.
  consensus_threshold: 0.65

taxonomy:
  # Bootstrap confidence threshold for taxonomic assignments
  # with SINTAX
  confidence_threshold: 0.8

  # UNITE database (https://doi.org/10.15156/BIO/3301243, all Eukaryotes, QIIME-formatted)
  db_url: https://s3.hpc.ut.ee/plutof-public/original/0ee4ff53-bd04-454b-a937-af1f466bfe8b.tgz

  # taxonomy database type
  # (currently, only "unite" is a valid choice)
  db_type: unite

  # known common contaminants (always flagged)
  known_contaminants:
    family:
      - Aspergillaceae
      - Capnodiaceae

  # specify kingdom if the taxonomy database contains taxa *mostly* from one kingdom
  # (may help with GBIF name matching)
  kingdom: Fungi

  # This setting configures the "sensitivity" of the contaminant detection
  # (lower = more sensitive, but also more false classifications):
  # When comparing the morphological taxon (*morpho-taxon* column) with the automatic
  # sequence-based identification, a lower-abundance taxon needs to have at least
  # `contam_rank_delta` more matching ranks in the taxonomic lineages than the
  # most abundant taxon for it to be up-ranked and the abundant taxon being
  # flagged as contamination.
  # The default of 3 seems to work well in most cases, but e.g. if *morpho-taxon*
  # is only a phylum-level name, consider lowering to 2.
  contam_rank_delta: 3

  # It is also possible to specify amplicon-specific options, which override the
  # above settings
  # (including the reference database, for other markers...)
  ITS1F_ITS4:
    contam_rank_delta: 2


report:
  # Sequencing depth threshold regarded as critical, below which there
  # is an increased risk of barcode sequence errors ('low coverage' warning)
  low_abund_threshold: 20

  # Max. number of haplotype/polymorphic sequences to show in the 'Curation' section
  n_curate: 4

  # Maximum number of haplotype/polymorphic sequences to report for the top taxon
  max_seqs: 6
